SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SECURITY_JWT_TOKEN_SECRET_KEY=
SECURITY_JWT_TOKEN_EXPIRE_LENGTH=

FIREBASE_DOWNLOAD_URL=
FIREBASE_BUCKET=
FIREBASE_CREDENTIALS=
